@import "../../Theme.css";

.Content {
  padding: 25px;
  border-radius: 15px;
  height: 69vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow: auto;
}
.Content-light {
  background-color: var(--secondaryLight);
}
.Content-dark {
  background-color: var(--secondaryDark);
}
.right-content {
  padding-left: 25px;
}
.inner-right-content {
  padding: 25px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
