@import "../../Theme.css";

.Content {
  /* padding: 25px; */
  border-radius: var(--borderRadS);
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow: auto;
}
.Content-light {
  background-color: var(--primaryLight);
}
.Content-dark {
  background-color: var(--primaryDark);
}
.right-content {
  padding-left: 25px;
}
.inner-right-content {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
