@import "../../Theme.css";

.header-light {
  background-color: var(--primaryLight);
}
.top-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
}
.top-col-left {
  text-align: left;
}
.top-col-right {
  text-align: right;
}
.icon:hover {
  cursor: pointer;
}
.icon-dark {
  color: var(--primaryDark);
  font-size: 25px;
  margin-right: 2px;
}
.icon-light {
  color: var(--primaryLight);
  font-size: 33px;
}
