@import "../../Theme.css";

.header-light {
  background-color: var(--primaryLight);
}
.top-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
}
.top-col {
  justify-items: center;
}
