@import "../../Theme.css";

.nav-bar {
  width: 50%;
  margin: 20px auto;
  /* background-color: green; */
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav-item {
  list-style: none;
  text-align: center;
  font-weight: bold;
  box-sizing: content-box;
  font-family: var(--fontFam);
}
.nav-item p {
  font-size: 15px;
}
.nav-item-light {
  text-decoration: none;
  color: var(--primaryFontLight);
}
.nav-item-dark {
  text-decoration: none;
  color: var(--primaryFontDark);
}
.nav-item :hover {
  cursor: pointer;
  color: var(--themeLight);
}

.nav-item-icon {
  font-size: 12px;
  color: var(--themeLight);
}
