@import "../../Theme.css";

.nav-bar {
  width: 50%;
  margin: 20px auto;
  /* background-color: green; */
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav-item {
  list-style: none;
  text-align: center;
  font-weight: bold;
  font-family: var(--fontFam);
}
.nav-item-light {
  color: var(--primaryFontLight);
}
.nav-item-dark {
  color: var(--primaryFontDark);
}
.nav-item :hover {
  cursor: pointer;
  color: var(--themeLight);
}
.nav-item-icon {
  color: var(--themeLight);
}
