@import "./Theme.css";

.App {
  width: 80%;
  margin: 34px auto;
  padding: 30px;
  border-radius: var(--borderRadSM);
}
.App-light {
  background-color: var(--secondaryLight);
}
.App-dark {
  background-color: var(--secondaryDark);
}
