:root {
  --theme: #03c2d0;

  --themeLight: #03c2d0;
  --themeDark: green;

  --primaryLight: #fff;
  --secondaryLight: #f3f4f8;
  /* --primaryDark: #273037;
  --secondaryDark: #1f2933; */
  --primaryDark: #202124;
  --secondaryDark: #303134;

  --primaryFontLight: #5d5d64;
  --secondaryFontLight: #cdced3;
  --thirdFontLight: #a9a9b1;
  --primaryFontDark: #e4e7e9;

  --fontFam: sans-serif, Arial, Helvetica;

  --borderRadS: 10px;
  --borderRadSM: 15px;
  /* --red: #b00;
  --grn: green;
  --blue: #00b;
  --fullwidth: 100%; */
}
